# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history
PIC_0326.MP4
jianyi.MP4
dist.zip
dist.tar.gz
__pycache__
nohup.out
roi.jpg
original.jpg
src/assets/1.avi
src/assets/2.mp4
src/assets/9.mp4
backend/demo/yolov8n.pt
design/火灾监测系统.pptx
